.taskColumns {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 20px;
    justify-content: flex-start;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.taskColumns::-webkit-scrollbar {
    height: max-content;
}

.taskColumns::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 15px;
}

.taskColumn {
    background-color: #E8EAF6;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    min-width: 200px;
    position: relative;
    scroll-snap-align: start;
    width: 380px;
    cursor: pointer;
}

.taskColumn p {
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 30px;
    height: min-content;
}

.deleteBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}