body {
    background-color: #BCD2E8;
    overflow: hidden;
    height: 100vh;
}

.mainContainer {
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    margin-top: 1%;
    height: 10%;
}

.mainContainer p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 50px;
}

.addColumnBtn {
    border-radius: 20px;
    height: 27px;
    width: 150px;
    font-size: large;
    text-align: center;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    z-index: 5;
}

.modalContent {
    text-align: center;
}

.modal input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 3px solid #ddd;
    border-radius: 50px;
    font-size: 25px;
}

.modalButtons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.modalBtn {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 30px;
    background-color: white;
}

.hidden {
    display: none;
}

.taskColumns {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.taskColumns::-webkit-scrollbar {
    height: 5px;
}

.taskColumns::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.taskColumns:hover {
    cursor: grab;
}

.taskColumn {
    background-color: #E8EAF6;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    min-width: 150px;
    text-align: center;
    position: relative;
    scroll-snap-align: start;
    cursor: grab;
}

.taskColumn h4 {
    font-family: Arial, sans-serif;
    color: #333;
}

.deleteBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

.taskColumn.dragging {
    opacity: 0.5;
}